# packages in environment at /home/username/anaconda3/envs/pytorch:

python                    3.7.3               
pytorch                   1.1.0       
cudatoolkit               9.0 
matplotlib                3.1.1                    
numpy                     1.18.1                   
opencv-python             4.1.0.25    
colorama                  0.4.1
easydict                  1.9                      
fire                      0.2.1                           
pandas                    0.25.0           
pillow                    6.1.0           
protobuf                  3.11.0                  
scikit-image              0.15.0                  
scikit-learn              0.22                     
scipy                     1.4.1                     
tensorboardX              1.4                       
torchvision               0.3.0           
tqdm                      4.43.0                    
visdom                    0.1.8.8                  
yacs                      0.1.6                    
