# packages in environment at /home/username/anaconda3/envs/pytorch:
#
# Name                    Version                   Build    Channel
_libgcc_mutex             0.1                        main    defaults
absl-py                   0.9.0                     <pip>
astor                     0.8.1                     <pip>
astroid                   2.3.3                     <pip>
backcall                  0.1.0                     <pip>
bzip2                     1.0.6                         3    https://mirrors.tuna.tsinghua.edu.cn/anaconda/pkgs/free
ca-certificates           2019.6.16            hecc5488_0    https://mirrors.tuna.tsinghua.edu.cn/anaconda/cloud/conda-forge
cachetools                4.0.0                     <pip>
certifi                   2019.6.16                py37_1    https://mirrors.tuna.tsinghua.edu.cn/anaconda/cloud/conda-forge
cffi                      1.12.3           py37h8022711_0    https://mirrors.tuna.tsinghua.edu.cn/anaconda/cloud/conda-forge
chardet                   3.0.4                     <pip>
click                     7.1.1                     <pip>
colorama                  0.4.1                     <pip>
cudatoolkit               9.0                  h13b8566_0    https://mirrors.tuna.tsinghua.edu.cn/anaconda/pkgs/main
cupy                      7.0.0                     <pip>
cycler                    0.10.0                    <pip>
Cython                    0.29.13                   <pip>
cython                    0.29.14          py37he1b5a44_0    https://mirrors.tuna.tsinghua.edu.cn/anaconda/cloud/conda-forge
decorator                 4.4.0                     <pip>
easydict                  1.9                       <pip>
fastrlock                 0.4                       <pip>
fire                      0.2.1                     <pip>
Flask                     1.1.2                     <pip>
freetype                  2.10.0               he983fc9_0    https://mirrors.tuna.tsinghua.edu.cn/anaconda/cloud/conda-forge
future                    0.18.2                    <pip>
gast                      0.2.2                     <pip>
google-auth               1.12.0                    <pip>
google-auth-oauthlib      0.4.1                     <pip>
google-pasta              0.2.0                     <pip>
grpcio                    1.27.2                    <pip>
h5py                      2.10.0                    <pip>
idna                      2.8                       <pip>
imageio                   2.5.0                     <pip>
intel-openmp              2019.4                      243    https://mirrors.tuna.tsinghua.edu.cn/anaconda/pkgs/main
ipdb                      0.13.2                    <pip>
ipykernel                 5.1.1                     <pip>
ipython                   7.7.0                     <pip>
ipython-genutils          0.2.0                     <pip>
isort                     4.3.21                    <pip>
itsdangerous              1.1.0                     <pip>
jedi                      0.14.1                    <pip>
Jinja2                    2.11.2                    <pip>
joblib                    0.14.1                    <pip>
jpeg                      9c                h14c3975_1001    https://mirrors.tuna.tsinghua.edu.cn/anaconda/cloud/conda-forge
jpeg4py                   0.1.4                     <pip>
jupyter-client            5.3.1                     <pip>
jupyter-core              4.5.0                     <pip>
Keras-Applications        1.0.8                     <pip>
Keras-Preprocessing       1.1.0                     <pip>
kiwisolver                1.1.0                     <pip>
lazy-object-proxy         1.4.3                     <pip>
libblas                   3.8.0               10_openblas    https://mirrors.tuna.tsinghua.edu.cn/anaconda/cloud/conda-forge
libcblas                  3.8.0               10_openblas    https://mirrors.tuna.tsinghua.edu.cn/anaconda/cloud/conda-forge
libffi                    3.2.1                         1    https://mirrors.tuna.tsinghua.edu.cn/anaconda/pkgs/free
libgcc-ng                 9.1.0                hdf63c60_0    defaults
libgfortran-ng            7.3.0                hdf63c60_0    defaults
liblapack                 3.8.0               10_openblas    https://mirrors.tuna.tsinghua.edu.cn/anaconda/cloud/conda-forge
libopenblas               0.3.6                h6e990d7_5    https://mirrors.tuna.tsinghua.edu.cn/anaconda/cloud/conda-forge
libpng                    1.6.37               hed695b0_0    https://mirrors.tuna.tsinghua.edu.cn/anaconda/cloud/conda-forge
libstdcxx-ng              9.1.0                hdf63c60_0    defaults
libtiff                   4.0.10            h57b8799_1003    https://mirrors.tuna.tsinghua.edu.cn/anaconda/cloud/conda-forge
llvmlite                  0.30.0                    <pip>
lmdb                      0.98                      <pip>
loguru                    0.5.0                     <pip>
lz4-c                     1.8.3             he1b5a44_1001    https://mirrors.tuna.tsinghua.edu.cn/anaconda/cloud/conda-forge
Markdown                  3.2.1                     <pip>
MarkupSafe                1.1.1                     <pip>
matplotlib                3.1.1                     <pip>
mccabe                    0.6.1                     <pip>
mkl                       2019.4                      243    https://mirrors.tuna.tsinghua.edu.cn/anaconda/pkgs/main
msgpack                   0.6.1                     <pip>
natsort                   6.0.0                     <pip>
ncurses                   6.1               hf484d3e_1002    https://mirrors.tuna.tsinghua.edu.cn/anaconda/cloud/conda-forge
networkx                  2.3                       <pip>
ninja                     1.9.0                h6bb024c_0    https://mirrors.tuna.tsinghua.edu.cn/anaconda/cloud/conda-forge
numba                     0.46.0                    <pip>
numpy                     1.16.4           py37h95a1406_0    https://mirrors.tuna.tsinghua.edu.cn/anaconda/cloud/conda-forge
numpy                     1.18.1                    <pip>
oauthlib                  3.1.0                     <pip>
olefile                   0.46                       py_0    https://mirrors.tuna.tsinghua.edu.cn/anaconda/cloud/conda-forge
openblas                  0.3.6                h6e990d7_5    https://mirrors.tuna.tsinghua.edu.cn/anaconda/cloud/conda-forge
opencv-python             4.1.0.25                  <pip>
openssl                   1.1.1c               h516909a_0    https://mirrors.tuna.tsinghua.edu.cn/anaconda/cloud/conda-forge
opt-einsum                3.2.0                     <pip>
pandas                    0.25.0           py37hb3f55d8_0    https://mirrors.tuna.tsinghua.edu.cn/anaconda/cloud/conda-forge
parso                     0.5.1                     <pip>
pexpect                   4.7.0                     <pip>
pickleshare               0.7.5                     <pip>
pillow                    6.1.0            py37he7afcd5_0    https://mirrors.tuna.tsinghua.edu.cn/anaconda/cloud/conda-forge
pip                       19.3.1                    <pip>
pip                       19.2.1                   py37_0    https://mirrors.tuna.tsinghua.edu.cn/anaconda/cloud/conda-forge
prettytable               0.7.2                     <pip>
progress                  1.5                       <pip>
prompt-toolkit            2.0.9                     <pip>
protobuf                  3.11.0                    <pip>
ptvsd                     4.3.0                     <pip>
ptyprocess                0.6.0                     <pip>
pyasn1                    0.4.8                     <pip>
pyasn1-modules            0.2.8                     <pip>
pycocotools               2.0.0                     <pip>
pycparser                 2.19                     py37_1    https://mirrors.tuna.tsinghua.edu.cn/anaconda/cloud/conda-forge
pyecharts                 1.7.1                     <pip>
Pygments                  2.4.2                     <pip>
pylint                    2.4.4                     <pip>
pyparsing                 2.4.1.1                   <pip>
PyQt5                     5.13.2                    <pip>
PyQt5-sip                 12.7.0                    <pip>
pyqtgraph                 0.10.0                    <pip>
python                    3.7.3                h33d41f4_1    https://mirrors.tuna.tsinghua.edu.cn/anaconda/cloud/conda-forge
python-dateutil           2.8.0                      py_0    https://mirrors.tuna.tsinghua.edu.cn/anaconda/cloud/conda-forge
pytorch                   1.1.0           py3.7_cuda9.0.176_cudnn7.5.1_0    https://mirrors.tuna.tsinghua.edu.cn/anaconda/cloud/pytorch
pytz                      2019.1                     py_0    https://mirrors.tuna.tsinghua.edu.cn/anaconda/cloud/conda-forge
PyWavelets                1.0.3                     <pip>
PyYAML                    5.1.1                     <pip>
pyzmq                     18.0.2                    <pip>
readline                  8.0                  hf8c457e_0    https://mirrors.tuna.tsinghua.edu.cn/anaconda/cloud/conda-forge
requests                  2.22.0                    <pip>
requests-oauthlib         1.3.0                     <pip>
rsa                       4.0                       <pip>
scikit-image              0.15.0                    <pip>
scikit-learn              0.22                      <pip>
scipy                     1.4.1                     <pip>
seaborn                   0.10.0                    <pip>
setproctitle              1.1.10                    <pip>
setuptools                41.0.1                   py37_0    https://mirrors.tuna.tsinghua.edu.cn/anaconda/cloud/conda-forge
Shapely                   1.6.4.post2               <pip>
simplejson                3.17.0                    <pip>
six                       1.12.0                py37_1000    https://mirrors.tuna.tsinghua.edu.cn/anaconda/cloud/conda-forge
sqlite                    3.29.0               hcee41ef_0    https://mirrors.tuna.tsinghua.edu.cn/anaconda/cloud/conda-forge
tensorboard               2.1.1                     <pip>
tensorboardX              1.4                       <pip>
tensorflow                2.1.0                     <pip>
tensorflow-estimator      2.1.0                     <pip>
termcolor                 1.1.0                     <pip>
tk                        8.6.9             hed695b0_1002    https://mirrors.tuna.tsinghua.edu.cn/anaconda/cloud/conda-forge
torchfile                 0.1.0                     <pip>
torchvision               0.3.0           py37_cu9.0.176_1    https://mirrors.tuna.tsinghua.edu.cn/anaconda/cloud/pytorch
tornado                   6.0.3                     <pip>
tqdm                      4.43.0                    <pip>
traitlets                 4.3.2                     <pip>
typed-ast                 1.4.1                     <pip>
urllib3                   1.25.3                    <pip>
visdom                    0.1.8.8                   <pip>
wcwidth                   0.1.7                     <pip>
websocket-client          0.56.0                    <pip>
Werkzeug                  1.0.1                     <pip>
wget                      3.2                       <pip>
wheel                     0.33.4                   py37_0    https://mirrors.tuna.tsinghua.edu.cn/anaconda/cloud/conda-forge
wrapt                     1.11.2                    <pip>
xz                        5.2.4             h14c3975_1001    https://mirrors.tuna.tsinghua.edu.cn/anaconda/cloud/conda-forge
yacs                      0.1.6                     <pip>
zlib                      1.2.11                        0    https://mirrors.tuna.tsinghua.edu.cn/anaconda/pkgs/free
zstd                      1.4.0                h3b9ef0a_0    https://mirrors.tuna.tsinghua.edu.cn/anaconda/cloud/conda-forge
